<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free UG Notes for C, Physics, Math | College Study Material</title>
  <link rel="icon" type="image/png" href="/image/iconimage.png">
  <meta name="description"
    content="Free UG Notes and Study Material for C Language, Physics, Math, and more. Easy-to-understand notes, books, and tutorials for college students.">
  <meta name="google-site-verification" content="EGfF7a79MJ_Q2Xt1xQCqLXN-IxHsfM9d6FB4aC6gVLc" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bodyPart.css">
  <link rel="stylesheet" href="/css/navBar.css">
  <link rel="stylesheet" href="/css/chapter.css">
  <link rel="stylesheet" href="/css/semester.css">
  <link rel="stylesheet" href="/css/sec.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BXT3ZXCF5X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BXT3ZXCF5X');
  </script>

</head>

<body>
  <header>
    <%- include('../template/navBar') %>
  </header>

  <main>
    <section>
      <%- body -%>
    </section>
  </main>
</body>

</html>