 <div class="image">
  <img src="/image/study.png" alt="study webpage">
  <div class="image-text">
    <h4 class="text">THIS WEBSITE IS CREATED SOLELY TO HELP STUDENTS AND IS NOT
      INTENDED FOR ANY BUSINESS PURPOSES. ALL UNDERGRADUATE NOTES ARE
      AVAILABLE HERE FOR FREE. YOU CAN VIEW AND DOWNLOAD THEM ANYTIME</h4>
  </div>
</div>