<div id="container">
  <div class="smallContainer" type="submit">
    <a href="/semList?name=computer&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">COMPUTER (Major and Minor)"</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>

  <!-- //second div -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=physics&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">PHYSICS (Major and Minor)"</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>

  <!-- third div for  -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=statistics&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">STATISTICS(Major and Minor)"</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>

  <!-- four div for  -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=mathematics&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">MATHEMATICS (Major and Minor)"</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>
 <!-- NEXT -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=chemistry&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject"> CHEMISTRY (Major and Minor)</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div> 
  <!-- NEXT -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=geology&sem=6">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject"> GEOLOGY (Major and Minor)</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>
    <div class="smallContainer" type="button">
       <a href="/semList?name=sec&sem=3">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject"> SEC </span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>

  <!-- NEXT -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=aec&sem=3">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">AEC(ENGLISH)</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">In AEC, there are around 350 important MCQs. The exam questions are taken directly from these
          350 MCQs. So, if you study all of them carefully, you can score very good marks in the exam.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
      </span>
    </a>
  </div>

  <!-- five div for -->
  <div class="smallContainer" type="button">
    <a href="/semList?name=yoga&sem=2">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject"> YOGA </span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>

    <div class="smallContainer" type="button">
    <a href="/semList?name=ayurveda&sem=2">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND PRACTICLE NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject"> AYURVEDA </span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>
<!-- next enviorment  -->
     <div class="smallContainer" type="button">
    <a href="/semList?name=environment&sem=2">
      <span id="info">
        <h1 id="degree">B.S.C NOTES NEP(2020) </h1>
        <h4 id="paper"> PRIVOUS YEAR PAPER AND MCQ AND NOTES</h4>
        <span id="subject">SUBJECT:</span><span class="subject">ENVIRONMENT</span>
        <br>
        <h4 ID="notes">IMPORTANT NOTES:</h4>
        <span id="message">These notes are prepared by a student purely to help fellow students.
          They are not professional materials so a few mistakes may be present.</span>
        <h5 id="seenotes"> FOR SEE NOTES PLEASE CLICK ME </h5>
        &nbsp;
      </span>
    </a>
  </div>
 
</div>