<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="image/iconimage.png">
  <meta name="google-site-verification" content="EGfF7a79MJ_Q2Xt1xQCqLXN-IxHsfM9d6FB4aC6gVLc" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BXT3ZXCF5X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-BXT3ZXCF5X');
  </script>
  <title>PDF Viewer</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body,
    html {
      height: 100%;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    /* .pdf-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
    } */

.pdf-container {
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}



    /* iframe {
      width: 100%;
      height: 100%;
      border: none;
    } */
     iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* allows mobile pinch zoom */
   touch-action: pan-x pan-y pinch-zoom;
  overflow: auto;
  -ms-content-zooming: zoom;
}

    /* Download button fixed at bottom-right */
    .download-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 12px 20px;
      background-color: #1e88e5;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: background 0.3s, transform 0.2s;
      z-index: 1000;
      /* ensures button is above iframe */
    }

    .download-btn:hover {
      background-color: #1565c0;
      transform: scale(1.05);
    }

    @media (max-width: 650px) {
      .download-btn {
          font-size: small;
        padding: 9px 6px;
        bottom: 20px;
        right: 3px;
      }
    }
  </style>
</head>

<body>
  <div class="pdf-container">
    <!-- <iframe src="<%# srcLink %>" allowfullscreen></iframe> -->
       <iframe 
   src="<%= srcLink %>"
    allow="fullscreen"
    allowfullscreen
     style="width:100%; height:100%; border:none;" 
  ></iframe>

  </div>
  <!-- Download button -->
  <a class="download-btn" href="<%= downloadLink %>" download>
    Download Pdf
  </a>
</body>

</html>