<% layout("layoutAll/layout.ejs") -%>
        <div id="sembigcon">
            <!-- first semseter -->
           <% if (sem >1) { %>
  <div class="semsmallcon" type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="/chapter?name=<%=name%>">
                    <span>
                        <h3>SEMESTER FIRST NOTES</h3>
                        <P>Here, You Will Find all First Semester Notes, Along With Pyq And Previous Years Papers From Various 
                             Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>
           <% if (sem >=2) { %>
  <div class="semsmallcon"  type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="">
                    <span>
                        <h3>SEMESTER SECOND NOTES</h3>
                        <P>Here, you will find all  SECOND Semester notes, along with Pbq and previous years papers from
                             Various Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>

            <% if (sem >=3) { %>
  <div class="semsmallcon"  type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="">
                    <span>
                        <h3>SEMESTER THIRD NOTES</h3>
                        <P>Here, you will find all THIRD Semester notes, along with Pbq and previous years papers from
                              Various Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>
           <% if (sem >=4) { %>
  <div class="semsmallcon"   type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="">
                    <span>
                        <h3>SEMESTER FOURTH NOTES</h3>
                        <P>Here, you will find all FOURTH Semester notes, along with Pbq and previous years papers from
                            Various Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>
           <% if (sem >=5) { %>
  <div class="semsmallcon"  type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="">
                    <span>
                        <h3>SEMESTER FIFTH NOTES</h3>
                        <P>Here, you will find all FIFTH Semester notes, along with Pbq and previous years papers from
               Various Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>
           <% if (sem >=6) { %>
  <div class="semsmallcon"  type="button">
<%}else {%>
       <div class="semsmallcon" style="display: none;">
<% } %>
                <a id="a" href="">
                    <span>
                        <h3>SEMESTER SIXTH NOTES</h3>
                        <P>Here, you will find all SIXTH Semester notes, along with Pbq and previous years papers from
      Various Universities — All In One Place!</P>
                        <h5>FOR VIEW NOTES CLICK ME</h5>
                    </span>
                </a>
            </div>

        </div>
