
#chapterContainer {
  display: grid;
  grid-template-columns: repeat(4,1fr);/* Space between cards */
 justify-content:center;
}
    .chapter {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin: 15px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: #eeedffaa line 2px;
   border: #4f46f4aa dashed 1.5px;
}

.chapter:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 
}

.chapter-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.chapter-image img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  display: block;
}

.chapter-info {
  padding: 0px 5px;
}

.chapter-title {
  font-size: 15px;
  font-weight: 600;
  color: #1b05e8;
  margin: 5px 0 10px 0;
}
.chapter-title span{
  font-weight:400;
  font-size: larger;
  color:#f30404;
  font-weight: bold;

}
 .chapter-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
 }

.chapter-form {
  margin: 0;
  flex: 1;
}
.btn{
  width:90%;
  padding:6px 0;
  border-radius:6px;
  border:none;
  font-size:14px;
  cursor:pointer;
  transition:background-color 0.2s ease,transform 0.4s ease;
  color:#fff;
}

.view-button {
  background-color: #007bff;
}
.view-button:hover {
  background-color: #0056b3;
    transform: scale(1.05);
}
.edit-button {
  background-color: #28a745;
}

.edit-button:hover {
  background-color: #1e7e34;
}
.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #a71d2a;
} 
 @media (max-width: 640px) {
  #chapterContainer {
    grid-template-columns: repeat(1,1fr);
  }
          .chapter {
  width: 310px;
   margin: 8px auto;
}
}
 @media (max-width: 1300px) and (min-width: 1050px) {
  #chapterContainer {
    grid-template-columns:  repeat(3,1fr);
    gap: 0px;
  }
}
 @media (max-width: 1050px)and (min-width: 640px) {
  #chapterContainer {
   grid-template-columns: repeat(2,1fr);
    gap: 0px;
  }
}