#sembigcon {
    padding:3vh 0vh 3vh 0vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
       row-gap:5vh;
}

#a {
    text-decoration: none;
    color: black;
}
.semsmallcon {
    padding:0px 0px 15px 0px;
    text-align: center;
    width: 85%;
    background-color: #e0f2fe;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgba(10, 10, 10, .1005);
    cursor: pointer;
     transition: transform .4s, box-shadow 0.25s;
}

.semsmallcon:hover {
    background-color: #a9dcfe;
    color: #fff;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.semsmallcon:active {
    transform: scale(.99, .99);
    background-color: rgb(162, 233, 245);
}

.semsmallcon h3 {
    color: #0369a1;
    /* Deep blue heading */
}

.semsmallcon p {
    color: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: auto;
    font-size: 0.95rem;
    line-height: 2;
    margin: 0 auto;
    max-width: 90%;
}

.semsmallcon h5 {
    padding:5px 0px 5px 0px;
     color: #1c0795;
}
@media(max-width:650px) {
    #sembigcon {
        margin-top: 7px;
        /* height: 90vh; */
        width: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap:7px;
      }

    .semsmallcon h5 {
        padding-top: 1px;
        padding-bottom: 10px;
    }

    .semsmallcon {
        height: 95%;
        width: 85%;
        background-color: #e0f2fe;
        border: none;
        border-radius: 15px;
        box-shadow: 2px 3px 5px rgba(10, 10, 10, .1005);
        cursor: pointer;
    }
    .semsmallcon p {
    padding-top: 5px;
    padding-bottom: 8px;
}
.semsmallcon h3 {
    padding-top: 5px;
}

}
@media (min-width: 650px) and (max-width: 1100px) {
    #sembigcon {
        width: auto;
        grid-template-rows: repeat(1, 1fr);
           grid-auto-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .semsmallcon h5 {
        padding-top: 5px;
    }
    .semsmallcon p {
    padding-top: 3px;
    padding-bottom: 8px;
}
    .semsmallcon {
        height: 94%;
        width: 80%;
        background-color: #e0f2fe;
        border: none;
        border-radius: 25px;
    }
}