
<% layout("layoutAll/layout.ejs") -%>
<div id="loginMiandiv">
  <div class="card">
    <div class="brand">
      <h1>Welcome back</h1>
      <p>Login to your account</p>
    </div>
    <% if (typeof error !=="undefined" && error) { %>
      <h4 id="backendError">
        <%= error %>
      </h4>
      <% } %>

        <% if ((typeof success !=="undefined" && success) ) { %>
          <h3 id="backEndsuccess">
            <%= success %>
          </h3>
          <% } %>
            <% if ((typeof error !=="undefined") && error && error.includes("password")) { %>
              <p class="signup">
                <a href="/forgetPassword">Forget Password</a>
              </p>
              <% } %>
                <!--  FORM START -->
                <form action="/login" method="post">
                  <div class="field">
                   <h2><label for="email">Email</label></h2> 
                    <div class="input-wrap">
                      <input type="email" name="email" placeholder="Enter email" required id="email">
                    </div>
                  </div>

                  <div class="field">
                    <label for="passwordinput">Password</label>
                    <div class="input-wrap">
                      <input type="password" id="passwordinput"  name="password" placeholder="Enter password" required>
                      <!-- ✅ FIX: type="button" -->
                      <button type="button" id="loginpasswordshow" class="toggle-pw" onclick="togglePasswordLoginAndsignup()"> &#128065;</button>
                    </div>
                  </div>

                  <!-- ✅ BUTTON INSIDE FORM -->
                  <button id="login-btn" type="submit">Login </button>
                </form>
                <!-- ✅ FORM END -->
                <p class="signup">
                  Don't have an account <a href="/signform">Sign up</a>
                </p>

  </div>

  </div>
<!-- </body>
</html> -->