
    <div id="f-container">
      <div id="f-firstContainer">
        <div class="f-smallContainer" id="NotesForUg">
          <h3><b>Notes for ug</b></h3>
          <hr>
          <p>free notes for university student </p>
          <p>Built with Node.js, Express & MongoDB.</p>
          <p>Helping students learn better every day.</p>
        </div>
        <div class="f-smallContainer">
          <h3><b>Legal</b></h3>
          <hr>
          <p><a href="/legal/privacy_policy" target="_blank">Privacy Policy</a></p>
          <p><a href="/legal/TermsandConditions" target="_blank">Terms & Conditions</a></p>
          <p><a href="/legal/Disclaimer" target="_blank">Disclaimer</a></p>
        </div>
        <hr>
        <div class="f-smallContainer">
          <h3><b>Contact Us</b></h3>
          <hr>
          <div id="mediaMainContainer">
            <span class="socialMedia"> <a href="https://github.com/Aman-patel-20006"> <i
                  class="fa-brands fa-github"></i></a><a href="mailto:ap9363530@gmail.com" target="_blank"> <i
                  class="fa-solid fa-envelope"></i></a></span>
            <span class="socialMedia socialMedia-2"><a href="https://www.linkedin.com/in/aman-patel-b20478369/"
                target="_blank"><i class="fa-brands fa-linkedin"></i></a> <a
                href="https://www.instagram.com/aman_05_2006/" target="_blank"><i
                  class="fa-brands fa-instagram"></i></a></span>
          </div>
        </div>
      </div>
      <hr>
      <div id="f-secondContainer">
        <div class="f-smallContainer">
          <p>&#169; 2026 Notes for UG — All Rights Reserved</p>
          <p>Made with <span id="heart" style="color: rgb(241, 4, 44);">&hearts;</span> by a BSc Computer
            Science Student (BHU)</p>
        </div>
      </div>
    </div>