
<nav class="navbar">
  <div class="container">
    <div class="logo">
      <!-- <img src="./image/iconimage.png" alt="Logo"> -->
      <img src="/image/iconimage.png" alt="Logo">
      <span class="brand-name">WELCOME TO NOTES FOR UG</span>
    </div>

    <div class="menu-toggle" id="menu-toggle">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="nav-links" id="nav-links">
      <!-- <a href='/auth' class="nav-btn" id="addFileBtn" title="ADD FIEL ON DUBLE CLICK">Add File</a> -->
       <% if (currUser) { %>
                    <a href='/upload-page' class="nav-btn" id="addFileBtn" title="ADD FIEL ON DUBLE CLICK">Add File</a>
    <a href='/logout' class="nav-btn" id="addFileBtn" title="ADD FIEL ON DUBLE CLICK" onclick="return confirmDiv('Are you sure you want to logout');">Longout</a>
       <% }else { %>
      <a href='/loginAndsigup' class="nav-btn"  title="ADD FIEL ON DUBLE CLICK">Signup</a>
        <% }%>
      <a href="/" class="nav-btn" title="GO TO HOME PAGE">Home</a>
    </div>
  </div>
</nav>
<script>
  // Toggle menu on small screens
  const menuToggle = document.getElementById("menu-toggle");
  const navLinks = document.getElementById("nav-links");
  menuToggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
  });
</script>